  <div class="nav-container">
    <a class="navbar-brand" href="#">
      <img
        src="../assets/IDS_Logo.png"
        height="30"
        alt=""
        loading="lazy"
      />
    </a>
  </div>

  <div class="body">

  <h4>Angular-Crud Operation</h4>
  <div class="body-container">
    <div class="left-side">
      <form class="emp-details" [formGroup]="empForm" (ngSubmit)="onSubmit(referance1, referance2, referance3)">
        <div class="details">
          <div class="name">
            <label>Name</label>
            <input type="text" required formControlName="name" #referance1>
          </div>
          <div class="designation">
            <label>Designation</label>
            <select name="designation" required id="designation" formControlName="designation" #referance2>
              <option value="manager">Manager</option>
              <option value="developer">Developer</option>
              <option value="it Manager">IT Manager</option>
            </select>
          </div>
          <div class="salary">
            <label>Salary</label>
            <input type="text" required formControlName="salary" #referance3>
          </div>
        </div>
        
        <div class="btn">
          <button class="reset-btn" type="button" (click)="onClick(referance1, referance2, referance3)">Reset</button>
          <button class="save-btn" type="submit">Save</button>
        </div>
          
      </form>
      
    </div>
    <div class="right-side">
      <app-emp-list></app-emp-list>
    </div>
  </div>
</div>